<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <controlSources>
      <source mode="on" namespace="Liquid.Feature.MapPlugin.Helpers" assembly="Liquid.Feature.MapPlugin" prefix="mpfields"/>
    </controlSources>
    <fieldTypes>
      <fieldType name="TextboxFieldHelper" type="Sitecore.Data.Fields.TextField,Sitecore.Kernel" />
    </fieldTypes>
  </sitecore>
</configuration>