<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <renderContentEditor>
        <processor patch:before="*[1]" type="Liquid.Feature.MapPlugin.Pipelines.RenderContentEditor, Liquid.Feature.MapPlugin" />
      </renderContentEditor>
    </pipelines>
    <settings>
      <setting name="LiquidMapPluginJavascript" value="/sitecore modules/Liquid/MapPlugin/js/content-editor.js"/>
      <setting name="LiquidMapPluginStylesheets" value="/sitecore modules/Liquid/MapPlugin/css/content-editor.css"/>
    </settings>
  </sitecore>
</configuration>